modules = ["python-3.12", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run Bot"
author = 40310057

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m lokbot YOUR_X_ACCESS_TOKEN"

[[workflows.workflow]]
name = "Run"
author = 40310057

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m lokbot"
