modules = ["python-3.12", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Discord Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 40310057

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m lokbot eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NzQ1NWIwYzIyZmI0ODRhMDVkYTg3ZWQiLCJraW5nZG9tSWQiOiI2NzQ1NWIwZDIyZmI0ODRhMDVkYTg3ZjQiLCJ3b3JsZElkIjo2MSwidmVyc2lvbiI6MTc4OSwiYXV0aFR5cGUiOiJjYXJ2IiwicGxhdGZvcm0iOiJ3ZWIiLCJ0aW1lIjoxNzQxNDUwODg4NDEwLCJjbGllbnRYb3IiOiIwIiwiaXAiOiIzNC40Ny4xNTguMzQiLCJpYXQiOjE3NDE0NTA4ODgsImV4cCI6MTc0MjA1NTY4OCwiaXNzIjoibm9kZ2FtZXMuY29tIiwic3ViIjoidXNlckluZm8ifQ.roDI3lIq9MSyJDUC59q6vkNwi4eQWMwB_HPKOOLOKNQ"

[[workflows.workflow]]
name = "Run"
author = 40310057

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m lokbot"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 40352559

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python discord_bot.py"

[[ports]]
localPort = 3001
externalPort = 80
